<input type="radio" name="nav" id="item1" class="check" checked />
<input type="radio" name="nav" id="item2" class="check" />
<input type="radio" name="nav" id="item3" class="check" />
<input type="radio" name="nav" id="item4" class="check" />
<div class="center">
  <div class="nav-bar">
    <label
      for="item1"
      style="--color1: rgb(233, 215, 243); --color2: rgb(91, 55, 183)"
    >
      <span class="material-icons-outlined"> home </span>
      Home
    </label>

    <label
      for="item2"
      style="--color1: rgb(246, 214, 238); --color2: rgb(201, 55, 157)"
    >
      <span class="material-icons-outlined"> favorite_border </span>
      Favourite
    </label>

    <label
      for="item3"
      style="--color1: rgb(251, 239, 211); --color2: rgb(230, 169, 25)"
    >
      <span class="material-icons-outlined"> search </span>
      Search
    </label>

    <label
      for="item4"
      style="--color1: rgb(209, 235, 239); --color2: rgb(17, 148, 170)"
    >
      <span class="material-icons-outlined"> person </span>
      Profile
    </label>
  </div>
</div>
