
<div class="center">
  <div class="navigation">
    <input type="checkbox" name="" id="close" />
    <div class="icons">
      <input type="radio" name="nav" id="n1" checked />
      <label for="n1" class="icon">
        <span class="material-icons-outlined"> home </span>
      </label>

      <input type="radio" name="nav" id="n2" />
      <label for="n2" class="icon">
        <span class="material-icons-outlined"> calendar_month </span>
      </label>

      <input type="radio" name="nav" id="n3" />
      <label for="n3" class="icon">
        <span class="material-icons-outlined"> menu_book </span>
      </label>


      <input type="radio" name="nav" id="n7" />
      <label for="n7" class="icon">
        <span class="material-icons-outlined"> logout </span>
      </label>
      <label for="close" class="close-btn"></label>
    </div>
  </div>
</div>
