.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 20px;
  border-radius: 10mm;
  position: relative;
  max-width: 1000px;
  width: fit-content;
  overflow: hidden;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
input {
  display: none;
}
.icon {
  color: var(--text-color);
  width: 40px;
  height: 40px;
  border-radius: 10mm;
  background: rgb(77, 77, 77);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 12px;
  cursor: pointer;
  overflow: hidden;
  transition: 0.25s;
}
.icon .material-icons-outlined {
  font-size: 24px;
}
.icon .text {
  width: 0;
  overflow: hidden;
}
input:checked + .icon .text {
  width: fit-content;
}
input:checked + .icon {
  width: fit-content;
  border-radius: 50%;
  padding: 0 10px;
  background: linear-gradient(90deg, #9b6eff, #6f9bff);
  color: var(--text-color);
}
.icon:hover {
  /*
  background: white;
  */
  color: rgb(40, 40, 40);
}
.close-btn {
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.close-btn::before {
  content: "close";
  font-family: "Material Icons";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 24px;
  position: absolute;
  text-align: center;
  line-height: 40px;
}
#close:checked + .icons {
  max-width: 18px;
}
#close:checked + .icons .icon {
  visibility: hidden;
}
#close:checked + .icons .close-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#close:checked + .icons .close-btn::before {
  content: "fullscreen";
}
