
<div class="center">
  <div class="navigation">

    <input type="checkbox" name="" id="close" />
    <div class="icons">
      <div class="lang-menu-wrapper icon"  (click)="$event.stopPropagation()">
        <button class="lang-toggle-btn" (click)="toggleLangMenu()">
          <span class="material-icons">language</span>
        </button>

        <div class="lang-menu"
             [class.open]="langMenuOpen"
             (clickOutside)="langMenuOpen = false">
          <div class="lang-option" (click)="changeLang('ru')">Русский</div>
          <div class="lang-option" (click)="changeLang('en')">English</div>
          <div class="lang-option" (click)="changeLang('ro')">Română</div>
        </div>
      </div>

      <input type="radio" name="nav" id="n1" checked />
      <label for="n1" class="icon">
        <span class="material-icons-outlined" (click)="navigateToFragment('')"> home </span>
      </label>

      <input type="radio" name="nav" id="n2" />
      <label for="n2" class="icon">
        <span class="material-icons-outlined" (click)="navigateToFragment('activity')"> info</span>
      </label>


      <input type="radio" name="nav" id="n7" />
      <label for="n7" class="icon">
        <span class="material-icons-outlined"  (click)="navigateToFragment('contact-us')">call</span>
      </label>
      <label for="close" class="close-btn"></label>
    </div>
  </div>
</div>
