<header class="nav-header">
  <nav class="nav-menu">
    <img class="logo" src="assets/images/logo.svg" alt="">
    @for (item of menuItems ; track item) {
      <a (click)="router.navigate(['/'], { fragment: item.fragment })">
        {{ item.labelKey | transloco }}
      </a>
    }
    <div class="actions">
    <div class="language-container">
      <button class="navbar-button" (click)="toggleLanguageDropdown()">
        <i class="bx bx-globe"></i>
        <span class="language-text">{{ selectedLanguage | uppercase }}</span>
      </button>
      @if (dropdownVisible){
        <div class="language-options"
             clickOutside
             [class.visible]="dropdownVisible"
             (clickOutside)="dropdownVisible = false">
          @for (language of languages; track $index){
            <button (click)="changeLang(language)">
              <img [src]="language.flag"   alt="{{ language.name }}" class="flag-icon"/>
              {{ language.name }}
            </button>
          }
        </div>
      }
    </div>
    </div>
  </nav>
</header>
