<header class="nav-header">
  <nav class="nav-menu">
    @for (item of menuItems ; track item) {
      <a [href]="'/' + selectedLanguage + '#' + item.fragment"
         (click)="onNavClick($event, item.fragment)">
        {{ item.labelKey | transloco }}
      </a>
    }
    <div class="actions">
    <div class="language-container">
      <button class="navbar-button" (click)="toggleLanguageDropdown()">
        <i class="bx bx-globe"></i>
        <span class="language-text">{{ selectedLanguage | uppercase }}</span>
      </button>
      @if (dropdownVisible){
        <div class="language-options"
             clickOutside
             [class.visible]="dropdownVisible"
             (clickOutside)="dropdownVisible = false">
          @for (language of languages; track $index){
            <button (click)="changeLang(language)">
              <img [src]="language.flag" alt="{{ language.name }}" class="flag-icon" width="20" height="15"/>
              {{ language.name }}
            </button>
          }
        </div>
      }
    </div>
    </div>
  </nav>
</header>
