.heading{
  text-align: center;
  margin-bottom: 5rem 0;
  width: fit-content;
  background: linear-gradient(to right, #4a90e2, #a355b9, #ff6b6b);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 3.25rem;
  font-weight: 600;
}
.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 20px;


    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

    }
  }
}

section {
  display: block;
}

.prime-box-text{
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #fff;
  min-height: 700px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px;
}

.container {
  max-width: 1138px;
  width: 94%;
  margin: 0 auto;
  padding: 0;
}


.border-lvl-1{
  position: absolute;
  width: 319px;
  height: 319px;
  border: 1px dashed #8E44AD;
  border-radius: 50%;
  top: 27%;
  right: 36%;
}

.border-lvl-2 {
  position: absolute;
  width: 387px;
  height: 387px;
  opacity: .4;
  border: 1px dashed #8E44AD;
  border-radius: 50%;
  top: 22%;
  right: 33%;
}

.border-lvl-3{
  position: absolute;
  width: 513px;
  height: 513px;
  opacity: .2;
  border: 1px dashed #8E44AD;
  border-radius: 50%;
  top: 13%;
  right: 27.8%;
}

.border-lvl-4 {
  position: absolute;
  width: 669px;
  height: 669px;
  opacity: .2;
  border: 1px dashed #8E44AD;
  border-radius: 50%;
  top: 2%;
  right: 20.8%;
}

.vectors-platform{
  position: absolute;
  bottom: -15rem;
  left: 0;
  right: 0;
  z-index: -10;
  width: 100%;
  height: 450px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}


.block-text-text-1{
  position: absolute;
  top: 20%;
}

.block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 20px;
  gap: 10px;
  width: 320px;
  background: rgba(38, 42, 47, .6);
  border-radius: 6px;
}

.title{
  font-weight: 600;
}

.text, .title {
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.block-text-text-2 {
  position: absolute;
  top: 52%;
}


.block-text-text-3{
  position: absolute;
  top: 20%;
  right: -1%;
}

.block-text-text-5{
  position: absolute;
  top: 52%;
  right: 0;
}

.vector-1 {
  background-image: url(assets/images/lines/vector-1.svg);
  position: absolute;
  top: 26%;
  left: 29%;
  width: 107px;
  height: 58px;
}

.vector-2{
  background-image: url(assets/images/lines/vector-2.svg);
  position: absolute;
  top: 66%;
  left: 29%;
  width: 99px;
  height: 16px;
}


.vector-3 {
  background-image: url(assets/images/lines/vector-3.svg);
  position: absolute;
  top: 26%;
  left: 61%;
  width: 107px;
  height: 58px;
  transform: scaleX(-1);
}




.vector-5{
  background-image: url(assets/images/lines/vector-4.svg);
  transform: scaleX(-1);
  position: absolute;
  top: 66%;
  right: 29%;
  width: 99px;
  height: 16px;
}



.relative{
  position: relative;
}


