<!--
<custom-title text="{{ 'success' | transloco}}"/>

    <owl-carousel-o [options]="carouselOptions" style="margin-top:20px!important;">
      @for (slide of slidesStore ; track slide) {
        <ng-template carouselSlide>
          <div class="slide-container">
            <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" class="carousel-img" />
            <div class="slide-overlay">
              <div class="overlay-content">
                <h3>{{ slide.title }}</h3>
                <p>{{ slide.description }}</p>
              </div>
            </div>
          </div>
        </ng-template>

      }
    </owl-carousel-o>

-->
