<main class="contact-section">
  <div class="container">
    <div class="contact-content">
      <form class="contact-form" [formGroup]="form">
        <h3>{{ 'contactForm.title' | transloco }}</h3>
        <p>{{ 'contactForm.subtitle' | transloco }}</p>

        <div formGroupName="customer">
        <div class="input-group">
          <p class="input-label required">{{ 'contactForm.firstname' | transloco }}<span>*</span></p>
          <input type="text" name="name" [placeholder]="'contactForm.placeholderName' | transloco" formControlName="firstName"/>
        </div>
          <div class="input-group">
            <p class="input-label required">{{ 'contactForm.lastName' | transloco }}<span>*</span></p>
            <input type="text" name="name"  [placeholder]="'contactForm.placeholderLastName' | transloco" formControlName="lastName"/>
          </div>


          <div class="input-group">
          <p class="input-label required">{{ 'contactForm.email' | transloco }}<span>*</span></p>
          <input type="email" name="email" [placeholder]="'contactForm.placeholderEmail' | transloco"  formControlName="email" />
        </div>

        <div class="input-group">
          <p class="input-label required">{{ 'contactForm.phone' | transloco }}<span>*</span></p>
          <input type="tel" name="company"  [placeholder]="'contactForm.placeholderPhone' | transloco"  formControlName="companyName" />
        </div>

        <div class="input-group">
          <p class="input-label required">{{ 'contactForm.company' | transloco }}</p>
          <input type="url" name="companyWebsite" [placeholder]="'contactForm.placeholderCompany' | transloco" formControlName="phone" />
        </div>
        </div>

        <div class="textarea-group">
          <p class="input-label required">{{ 'contactForm.message' | transloco }}</p>
          <textarea name="message" [placeholder]="'contactForm.placeholderMessage' | transloco" formControlName="message"></textarea>
        </div>

        <button type="submit" class="submit-button" (click)="saveDictionary()">
          <div class="tracker"></div>
          <span>{{ 'contactForm.sendButton' | transloco }}</span>
        </button>
      </form>

      <aside class="contact-info">
        <div class="info-item email-item">
          <div class="info-icon">
         <!--   <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2 4H22V20H2V4Z" stroke="#00AEEF" stroke-width="2"/>
              <path d="M2 4L12 13L22 4" stroke="#00AEEF" stroke-width="2"/>
            </svg>-->
          </div>
          <div class="info-text">
            <h4>Contact Us</h4>
            <a href="mailto:vahe@hackvector.io"></a>
          </div>
        </div>

        <!-- 2. Социальные кнопки -->
        <div class="social-buttons">
          <a href="https://wa.me/message/3BWFY3BN2PMLO1" class="btn-link icon-linkedin" target="_blank" rel="noopener noreferrer">
            <span>WhatsApp</span>
          </a>
          <a href="https://www.linkedin.com/company/solterprise" class="btn-link icon-github" target="_blank" rel="noopener noreferrer">
            <span>LinkedIn</span>
          </a>
        </div>

        <!-- 3. Response Time -->
        <div class="info-item response-item">
          <div class="info-icon">
            <!-- Иконка часов -->
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="12" cy="12" r="10" stroke="  background: radial-gradient(rgba(253, 112, 255, 0.5), transparent 80%);" stroke-width="2"/>
              <path d="M12 6V12L16 14" stroke=" background: radial-gradient(rgba(253, 112, 255, 0.5), transparent 80%);" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </div>
          <div class="info-text">
            <h4>Response Time</h4>
            <p>I typically respond within<br/>24-48 hours</p>
          </div>
        </div>

        <!-- 4. Блок для срочных запросов -->
        <div class="urgent-box">
          <div class="urgent-border"></div>
          <div class="urgent-content">
            <h4>Looking for immediate assistance?</h4>
            <p>For urgent security matters, please indicate the urgency in your message<br/>and I'll prioritize your request.</p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>

