<main class="contact-section">
  <div class="container">
    <div class="contact-content">
      <form class="contact-form" [formGroup]="form">
        @if (dialogError()){
<!--
          <span style="color: red">fffffff</span>
-->

        }
        <h3>{{ 'contactForm.title' | transloco }}</h3>
        <p>{{ 'contactForm.subtitle' | transloco }}</p>

        <div formGroupName="customer">
        <div class="input-group">
          <p class="input-label required">{{ 'contactForm.firstname' | transloco }}<span>*</span></p>
          <input type="text" name="name" [placeholder]="'contactForm.placeholderName' | transloco" formControlName="firstName"/>
          @if (form.get('customer.firstName')?.touched && form.get('customer.firstName')?.invalid){
            <div class="error">
              @if (form.get('customer.firstName')?.errors?.['required']){
                <small>Имя обязателено</small>
              }
            </div>
          }
        </div>
          <div class="input-group">
            <p class="input-label required">{{ 'contactForm.lastName' | transloco }}<span>*</span></p>
            <input type="text" name="lastName"   [placeholder]="'contactForm.placeholderLastName' | transloco" formControlName="lastName"/>
            @if (form.get('customer.lastName')?.touched && form.get('customer.lastName')?.invalid){
              <div class="error">
                @if (form.get('customer.lastName')?.errors?.['required']){
                  <small>Фамилия обязателена</small>
                }
              </div>
            }
          </div>


          <div class="input-group">
          <p class="input-label required">{{ 'contactForm.email' | transloco }}<span>*</span></p>
          <input type="email" name="email" [placeholder]="'contactForm.placeholderEmail' | transloco"  formControlName="email" />
            @if (form.get('customer.email')?.touched && form.get('customer.email')?.invalid) {
              <div class="error">
                @if (form.get('customer.email')?.errors?.['required']){
                  <small>Email обязателен</small>
                } @else if (form.get('customer.email')?.errors?.['email']){
                  <small >Некорректный email</small>
                }
              </div>
            }
        </div>

        <div class="input-group">
          <p class="input-label required">{{ 'contactForm.phone' | transloco }}<span>*</span></p>
          <input type="tel"   name="phone" [placeholder]="'contactForm.placeholderPhone' | transloco"  formControlName="phone"/>
          @if (form.get('customer.phone')?.touched && form.get('customer.phone')?.invalid) {
            <div class="error">
              @if (form.get('customer.phone')?.errors?.['required']){
                <small>Телефон обязателен</small>
              }
            </div>
          }
        </div>

        <div class="input-group">
          <p class="input-label">{{ 'contactForm.company' | transloco }}</p>
          <input type="url" name="companyWebsite" [placeholder]="'contactForm.placeholderCompany' | transloco" formControlName="companyName" />
        </div>
        </div>

        <div class="textarea-group">
          <p class="input-label">{{ 'contactForm.message' | transloco }}</p>
          <textarea name="message" [placeholder]="'contactForm.placeholderMessage' | transloco" formControlName="message"></textarea>
        </div>

        <!-- До отправки -->
        <button *ngIf="!submissionSuccess()" type="submit" class="submit-button" (click)="saveDictionary()">
          <div class="tracker"></div>
          <span>{{ 'contactForm.sendButton' | transloco }}</span>
        </button>

        <!-- После отправки -->
        <button *ngIf="submissionSuccess()" class="submit-button" disabled>
          <span>{{ 'contactForm.sendButton' | transloco }}</span>
          <div class="mail-animation">
            <i class="fas fa-envelope"></i>
          </div>
        </button>

      </form>

      <aside class="contact-info">
        <div class="info-item email-item">
          <div class="info-icon">
          </div>
          <div class="info-text">
            <h4>{{'contactForm.contact-us'| transloco}}</h4>
          </div>
        </div>

        <div class="social-buttons">
          <a href="https://wa.me/message/3BWFY3BN2PMLO1" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-whatsapp"></i>
          </a>
          <a href="https://www.linkedin.com/company/solterprise" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://t.me/your_channel_or_username" class="social-icon" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-telegram"></i>
          </a>
        </div>


        <div class="info-item response-item">
            <i class="fas fa-clock rotate-icon"></i>
          <div class="info-text">
            <h4>{{'contactForm.response'| transloco}}</h4>
            <p [innerHTML]="'contactForm.period'| transloco"></p>
          </div>
        </div>

        <div class="urgent-box">
          <div class="urgent-border"></div>
          <div class="urgent-content">
            <h4>{{ 'contactForm.assistance'| transloco }}</h4>
            <p [innerHTML]="'contactForm.assistance-text'| transloco"></p>
          </div>
        </div>
      </aside>
    </div>
  </div>
</main>

