<custom-title/>

<div class="container">
  <div class="card">
    <i class="fa-solid fa-code"></i>
    <div class="title">Web-dev</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
  <div class="card">
    <i class="fa-solid fa-robot"></i>
    <div class="title">Figma</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
  <div class="card">
    <i class="fa-brands fa-figma"></i>
    <div class="title"> Lorem, ipsum.</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
</div>




<!--
<div class="folder-box">
  <div class="folder-tab"></div>
  <div class="folder-content">
    <p><strong>Год создания :</strong> 2023</p>
    <p><strong>Тип сайта:</strong> интернет-магазин</p>
    <p><strong>Адаптив:</strong> 🖥️ 📱</p>
    <p><strong>Разработка сайтов / Дизайн</strong></p>
    <a href="https://efrumos.md" target="_blank">↗ efrumos.md</a>
  </div>
</div>
-->
<div class="folder">
  <div class="folder-content">
    <p><strong>Год создания :</strong> 2023</p>
    <p><strong>Тип сайта:</strong> интернет-магазин</p>
    <p><strong>Адаптив:</strong> 🖥️ 📱</p>
    <p><strong>Разработка сайтов / Дизайн</strong></p>
    <a href="https://efrumos.md" target="_blank" class="folder-link">
      ↗ efrumos.md
    </a>
  </div>
</div>
