.container {
  margin: 10vh auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 70px;
}

.card {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  --border-radius: 1rem;
  --bg-color: #393e41;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  height: 420px;
  background: var(--bg-color);
  border-radius: var(--border-radius);
  color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  isolation: isolate;
  padding: 20px;
  text-align: center;
  gap: 16px;
  cursor: pointer;

  &.in-view {
    opacity: 1;
    transform: translateY(0);
  }
}
@for $i from 1 through 10 {
  .delay-#{$i} {
    transition-delay: #{($i * 100)}ms;
  }
}

.card i {
  font-size: 3.5rem;
  color: transparent;
  -webkit-text-stroke: thin whitesmoke;
  transition: color 0.3s ease, -webkit-text-stroke 0.3s ease;
}

.card:hover i {
  color: #d9d9d9;
  -webkit-text-stroke: 0;
}

.card .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.card .description {
  line-height: 1.5rem;
  opacity: 0.75;
  font-size: 0.95rem;
  padding: 0 10px;
  flex-grow: 1;
}

.details-btn {
  margin-top: auto;
  background: transparent;
  border: 1px solid #7c66a1;
  color: #fff;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.3s ease;
}

.details-btn:hover {
  background-color: #7c66a1;
  color: #fff;
}

.card::before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  inset: -50%;
  z-index: -2;
  background-image: conic-gradient(
      #3b2666 0deg,
      #7c66a1 60deg,
      #d9d9d9 120deg,
      #2a2d34 180deg,
      #a8b0b9 240deg,
      #3b2666 300deg,
      #3b2666 360deg
  );

  animation: border-animation 8s linear infinite;
  border-radius: inherit;
}

.card:hover::before {
  animation-play-state: paused;
}

.card::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: #111;
  border-radius: calc(var(--border-radius) - 4px);
  z-index: -1;
  transition: all 0.3s linear;
}

@keyframes border-animation {
  to {
    transform: rotate(-360deg);
  }
}

