<!--
<div class="services">
  <div class="textContainer">
    <div class="header__title">
      <h1>Наша специализация</h1>
    </div>
    <hr />
  </div>
  <section class="header">
    <div class="content">
      <div class="separator"></div>
      <div class="courses">
        @for ( tech of technologies; track tech) {
          <div class="item">
            <div class="top">
              <img [src]="tech.img" alt="{{ tech.title }}">
              <div class="info">
                <a href="#">{{ tech.title }}</a>
              </div>
            </div>
          </div>
        }
      </div>
    </div>
  </section>
</div>





-->
<div class="container">
  <div class="card">
    <i class="fa-solid fa-code"></i>
    <div class="title">Web-dev</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
  <div class="card">
    <i class="fa-solid fa-robot"></i>
    <div class="title">Figma</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
  <div class="card">
    <i class="fa-brands fa-figma"></i>
    <div class="title"> Lorem, ipsum.</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
</div>
