<div class="container">
  <div class="card">
    <i class="fa-solid fa-code"></i>
    <div class="title">Web-dev</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
  <div class="card">
    <i class="fa-solid fa-robot"></i>
    <div class="title">Figma</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
  <div class="card">
    <i class="fa-brands fa-figma"></i>
    <div class="title"> Lorem, ipsum.</div>
    <div class="description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, obcaecati.</div>
  </div>
</div>
