<div class="services-wrapper" id="main">
  <background-wrapper class="services-bg" [@fadeIn]/>
  <div class="services">
    <div class="titleContainer">
      <div class="title">
        <h1>
          <b class="hover">{{ 'unique' | transloco }}</b>
          {{ 'ideas' | transloco }}
        </h1>
      </div>
      <div class="title">
        <h1>
          <b class="hover">{{ 'for' | transloco }}</b>
          {{ 'business' | transloco }}
        </h1>
      </div>
    </div>
    <ide/>
    <section class="stats">
      @for (stat of stats; let i = $index; track stat) {
        <div class="stat">
          <h2
            [@countUp]="{ value: stat.end, params: { duration: duration, easing: 'ease-out' } }"
            (@countUp.start)="onCountStart($any($event), stat.end, i)">
            {{ values[i] }}+
          </h2>
          <span>{{ getLabel(stat) }}</span>
        </div>
      }
    </section>
    <about-us id="activity"/>
    <activity />

    <slider id="technologies"/>
    <app-project-timeline id="features"/>
    <trusted-companies/>
    <app-products id="projects"/>
    <app-contact-form/>
  </div>
</div>
<app-menu/>
