.services-wrapper {
  position: relative;
  overflow: hidden;
}

.services-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  filter: brightness(0.7);
}

.services {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 2rem;
}


.titleContainer {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.titleContainer .title {
  display: flex;
  align-items: center;
}
.titleContainer h1 {
  font-size: 96px;
  font-weight: 100;
  background: linear-gradient(to right, #4a90e2, #a355b9, #ff6b6b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 0;
}
.stats .stat {
  flex: 1;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
  border-right: 1px solid #9b6eff;
}
.stats .stat:last-child {
  border: none;
}
.stats h2 {
  font-size: 3.5rem;
  font-weight: 600;
  background: linear-gradient(90deg, #9b6eff, #6f9bff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.stats span {
  font-size: 1.2rem;
  color: #9b6eff;
}

@media (max-width: 1024px) {
  .textContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 10px;
  }
  .textContainer p {
    font-size: 18px;
    text-align: left;
  }
  .textContainer hr {
    display: none;
  }

  .titleContainer .title {
    flex-direction: column;
    gap: 30px;
  }
  .titleContainer h1 {
    font-size: 64px;
  }
}

@media (max-width: 768px) {
  .titleContainer{
    gap: 0;

  }
  .titleContainer h1 {
    font-size: 48px;
  }

}
