/*
!*
.heading{
  text-align: center;
  margin-bottom: 5rem 0;
  width: fit-content;
  background: linear-gradient(to right, #4a90e2, #a355b9, #ff6b6b);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 3.25rem;
  font-weight: 600;
}

.education{
  display: flex;
  flex-direction: column;
  position: relative;
}

.education h2{
  margin-bottom: 5rem;
}

.timeline-items{
  max-width: 1200px;
  margin:auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before{
  content: '';
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}
.timeline-item{
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child{
  margin-bottom: 0;
}
.timeline-item:nth-child(odd){
  padding-right: calc(50% + 30px) ;
  text-align: right;
}
.timeline-item:nth-child(even){
  padding-left: calc(50% + 30px);
}

.timeline-dot{
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color),
               0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}


.timeline-date{
  font-size: 20px;
  font-weight: 800;
  color: var(--text-color);
  margin: 6px 0 15px;
}

.timeline-content{
  background-color: var(--primary-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow:  0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.timeline-content:hover{
  transform: scale(1.05);
  box-shadow:  0 0 25px var(--main-color);
}

.timeline-content h3 {
  font-size: 20px;
  color:var(--text-color);
  margin:  0 0 10px;
  font-weight: 500;
}

.timeline-content p {
  color:var(--text-color);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);

}

::-webkit-scrollbar-track{
  background: var(--bg-color)
}

.btn {
  align-self: flex-end;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--placeholder-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;
}

.btn:hover {
  background-color: darkblue;
}
.timeline-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}


.services {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 20px;


    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;

    }
  }
}
*!
.star-space {
  position: relative;
  top: -7.4rem;
}


.constellation-home-1 {
  pointer-events: none;
  width: 30%;
  position: absolute;
  inset: 7% auto auto 43%;
  transform: rotate(-34deg);
}
.padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.container {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  width: 100%;
  max-width: 90rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.padding-global {
  padding-left: 5%;
  padding-right: 5%;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-container:before, .w-container:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-container {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.atf-padding {
  padding-top: 27vh;
  padding-bottom: 7.5rem;
}

.aft-wrapper {
  display: flex
;
}

.atf-col-1 {
  width: 42%;
}

.atf-col-2 {
  flex: 1;
}

.star-visuals-wrapper {
  z-index: -1;
  width: 80%;
  height: auto;
  position: absolute;
  inset: 0% -20% auto auto;
}
.star-img-wrapper {
  mix-blend-mode: exclusion;
}
.star-img {
  width: 100%;
  height: auto;
}
.star-ring-lottie {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: -.75% 0% 0%;
}

.w-container:after {
  clear: both;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}


.constellation-home-1,
.star-ring-lottie {
  transform-origin: center center;
  animation: spin 60s linear infinite;
}

!*.border-lvl-1  { animation-duration: 60s;          !* медленнее *! }
.border-lvl-2  { animation-duration: 45s;          !* чуть быстрее *! }
.border-lvl-3  { animation-duration: 30s;          !* ещё быстрее *! }
.border-lvl-4  { animation-duration: 20s;          !* самый быстрый *! }*!

.constellation-home-1 {
  animation-duration: 150s;  !* очень медленное, фонового характера *!
  animation-direction: reverse;
}

.star-ring-lottie {
  animation-duration: 50s;
}


*/
