@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
  --primary-color: #000000;
  --secondary-color: #1E1F20;
  --secondary-hover-color: #333537;

  --focus-color: #282A2C;
  --focus-hover-color: #37393B;

  --button-hover-color: #2f3030;

  --text-color: #fff;
  --text-secondary-color: #D8D8D8;
  --heading-secondary-color: #444746;
  --placeholder-color: #ABAFB3;

  --bg-color: #000000;
  --second-bg-color: #131313;
  --main-color: #00ffee;
  --color-white:        #ffffff;
  --color-light-gray:   #dbdbdb;
  --color-dark-gray:    #191919;
  --color-almost-black: #0a0a0a;
  --color-black:        #000000;
  --color-error:        #e06363;
  --color-highlight:    #056370;

  --font-base:   "e-Ukraine", sans-serif;
  --font-bold:   500;
  --font-regular:200;
  --font-title:  "Clash Display", sans-serif;
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html, body {
  scroll-behavior: smooth;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--primary-color);
}


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-track:hover {
  background-color: #e0e0e0;
}

::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}

@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}




a{
  text-decoration: none;
}

.token-keyword  { color: #569CD6; }
.token-method   { color: #4EC9B0; }
.token-string   { color: #CE9178; }
.token-function { color: #DCDCAA; }

.scrolltop-button{
  bottom: 75px!important;
}

