<!--
<div class="container">
  <div class="circle tilted">
    <div class="label-top">OOOPS</div>
    <div class="number">4</div>
    <div class="label-bottom">WE'RE SORRY</div>
  </div>
  <div class="circle">
    <div class="label-top">PAGE NOT</div>
    <div class="number">0</div>
    <div class="label-bottom">FOUND</div>
  </div>
  <div class="circle">
    <div class="label-top">SOMETHING</div>
    <div class="number">4</div>
    <div class="label-bottom">IS BROKEN</div>
  </div>
</div>

<div class="cradle">
  <div class="ball"><div class="line"></div></div>
  <div class="ball"><div class="line"></div></div>
  <div class="ball"><div class="line"></div></div>
  <div class="ball"><div class="line"></div></div>
</div>
-->
<div class="cradle-container">
  <div class="circle ball left">
    <div class="label-top">OOOPS</div>
    <div class="number">4</div>
    <div class="label-bottom">WE'RE SORRY</div>
  </div>
  <div class="circle ball static">
    <div class="label-top">PAGE NOT</div>
    <div class="number">0</div>
    <div class="label-bottom">FOUND</div>
  </div>
  <div class="circle ball right">
    <div class="label-top">SOMETHING</div>
    <div class="number">4</div>
    <div class="label-bottom">IS BROKEN</div>
  </div>
</div>
