<div class="cradle-container">
  <div class="circle ball left">
    <div class="label-top">{{'notFound.ops'|transloco}}</div>
    <div class="number">4</div>
    <div class="label-bottom">{{'notFound.sorry'|transloco}}</div>
  </div>
  <div class="circle ball static">
    <div class="label-top">{{'notFound.page'|transloco}}</div>
    <div class="number">0</div>
    <div class="label-bottom">{{'notFound.found'|transloco}}</div>
  </div>
  <div class="circle ball right">
    <div class="label-top">{{'notFound.something'|transloco}}</div>
    <div class="number">4</div>
    <div class="label-bottom">{{'notFound.isBroken'|transloco}}</div>
  </div>
</div>

<div class="mt-8">
  <button class="back-home-btn" (click)="goHome()">{{'notFound.goHome'|transloco}}</button>
</div>
